@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-deep-forest: #051a14;
    --color-vibrant-lime: #ccff00;
    --color-aurora-green: #00ff88;
    --color-glass-white: rgba(255, 255, 255, 0.1);
  }

  body {
    @apply bg-[#051a14] text-white font-sans antialiased overflow-x-hidden selection:bg-[#ccff00] selection:text-black;
  }
}

@layer utilities {
  .text-shadow {
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  .animate-pulse-slow {
    animation: pulse 8s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  }

  @keyframes pulse {

    0%,
    100% {
      opacity: 0.2;
    }

    50% {
      opacity: 0.5;
    }
  }
}